#container{
	width: 100%;
	height: 100%;
	background-color: #fff;
	&:after{
		content: '';
		display: block;
		width: 500px;
		height: 500px;
		 /* background-color: #C9171E; */
		transform: translate(-250px, -250px);
		border-radius: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		background: rgb(198,49,54); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(198,49,54,1) 0%, rgba(198,43,48,1) 33%, rgba(198,33,39,1) 66%, rgba(201,23,30,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(198,49,54,1) 0%,rgba(198,43,48,1) 33%,rgba(198,33,39,1) 66%,rgba(201,23,30,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(198,49,54,1) 0%,rgba(198,43,48,1) 33%,rgba(198,33,39,1) 66%,rgba(201,23,30,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c63136', endColorstr='#c9171e',GradientType=0 ); /* IE6-9 */
	}
}

h1{
	z-index: 3;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	letter-spacing: 18px;
	padding-left: 18px;
	text-align: center;
	font-size: 70px;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
	transform: translateY(-35px);
	border-radius: 100%;
	position: absolute;
	top: 50%;
}

p{
	z-index: 3;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	letter-spacing: 15px;
	padding-left: 15px;
	text-align: center;
	font-size: 16px;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
	transform: translateY(70px);
	border-radius: 100%;
	position: absolute;
	top: 50%;
}

svg {
	position: absolute;
	z-index: 2;
	width: 50%;
	height: 100%;
	fill : #0D0015;
}

#samuraiL{
	left: 13%;
	path {
    -webkit-filter: drop-shadow(-15px 3px 3px rgba(0,0,0,0.4));
            filter: drop-shadow(-15px 3px 3px rgba(0,0,0,0.4));
	}
}
#samuraiR{
	right: 13%;
	path {
    -webkit-filter: drop-shadow(15px 3px 3px rgba(0,0,0,0.4));
            filter: drop-shadow(15px 3px 3px rgba(0,0,0,0.4));
	}
}

.hide{
	display: none;
}
